.form-login{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    min-width: 25%;
    min-height: 70%;
    background-color: #00000081;
}

.form-group{
    margin: 8px;
}

.form-logo{
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 40%;
}

.form-error{
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2px;
    color: #fff;
    font-size: 13px;
    border-bottom: 2px solid #fff;
}

.form-input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #424242;
    color: #cac9c9;
    transition: .3s;
}

.form-input:hover{
    background-color: #242323;
}

.form-input::placeholder{
    color: #cac9c9;
}

.form-btn{
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px 25px;
    background-color: #424242;
    border: none;
    color: #cac9c9;
    border-radius: 5px;
    transition: .3s;
}

.form-btn:hover{
    background-color: #fff;
    color: #141414;
}

@media screen and (max-width: 756px){
    .form-login{
        min-width: 80%;
        min-height: 60%;
    }
}