.navigateButton{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navigateButton img{
    width: 30px;
}

.navigateButton span{
    color: #fff;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 2px solid #424242;
    transition: .3s;
}

.navigateButton:hover > span {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1000px){
    .navigateButton{
        justify-content: center;
    }

    .navigateButton img{
        width: 60px;
    }
    
    .navigateButton span{
        font-size: 20px;
    }
}