.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: #c9c9c9;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: .3s;
    width: 20%;
    border: 2px solid #c9c9c9;
}

.movieCard:hover{
    background-color: #8a8989;
    border: 2px solid rgb(0, 0, 0);
}

.movieCard-header{
    margin-bottom: 20px;
}

.movieCard-poster{
    display: block;
    width: 65%;
    border-radius: 5px;
    margin: auto;
}

.movieCard-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.movieCard-footerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movieCard-title{
    font-size: 16px;
    font-weight: 600;
}

.movieCard-overView{
    font-size: 12px;
    margin: 15px 0;
}

.movieCard-date{
    font-size: 13px;
}

.movieCard-vote span{
    font-weight: 600;
    color: black;
}

@media screen and (max-width:756px) {
    .movieCard{
        width: 80%;
    }
}