.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 10px 20px;
    min-height: 8vh;
}

.btn-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn-logout:hover > span{
    border-bottom: 2px solid #fffdfd;
}

.btn-logout span{
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    padding: 5px 0;
    border-bottom: 2px solid #141414;
    transition: .3s;
}

.img-logout{
    width: 25px;
}

.favMovBtn{
    color: #141414;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    transition: .3s;
    margin: 0px 5px;
}

.favMovBtn:hover{
    background-color: rgb(153, 153, 153);
}

@media screen and (max-width: 420px) {
    .favMovBtn{
        font-size: 12px;
    }
}



